<h1>Objective manager</h1>

{{add-button}}

<table class='objective-table'>
  <thead>
    <th>Title</th>
    <th>Weight</th>
  </thead>

  <tbody>
    {{#each @model as |objective|}}
      <tr>
        <td class='js-objective-title'>
          {{property-editor
            inputType='text'
            inputName='title'
            inputValue=objective.title
            recordId=objective.id
          }}
        </td>
        <td class='js-objective-weight'>
          {{property-editor
            inputType='number'
            inputName='weight'
            inputValue=objective.weight
            recordId=objective.id
          }}
        </td>
        <td>
          {{delete-button recordId=objective.id}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
